################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/T10
/TemporaryAspFiles/T10
/Solution.bat
/T10.sln
/folder.lnk
/Solution.lnk
/Customization/T10/T10Validation/T10Website
